<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" integrity="sha512-UJfAaOlIRtdR+0P6C3KUoTDAxVTuy3lnSXLyLKlHYJlcSU8Juge/mjeaxDNMlw9LgeIotgz5FP8eUQPhX1q10A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" integrity="sha512-NiWqa2rceHnN3Z5j6mSAvbwwg3tiwVNxiAQaaSMSXnRRDh5C2mk/+sKQRw8qjV1vN4nf8iK2a0b048PnHbyx+Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav class="bg-red-100 text-purple-500 text-3xl mb-4">
    <a  href="/">Home</a> |
    <a href="/product">Products</a>
    <a href="/category">Category</a>
    {{#if username}}
        | <a href="/auth/logout">Logout ({{username}})</a>
    {{else}}
        | <a href="/auth/login">Login</a>
    {{/if}}
    </nav>
    {{{body}}}
</body>
<footer>
    <p class="bg-purple-300">Copyright © 2024 My Company</p>
</footer>
</html>
