<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div >
    <tr>
        <th>Category Name</th>
        <th>Category Description</th>
    </tr>
    {{#each categoryList}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
    </tr>
    {{/each}}
</div>
