<form action="" method="post">
    <h1>Edit </h1>
    <input type="text" name="name" required placeholder="Enter new name" >
    <br>
    <input type="text" name="description" required placeholder=" Enter new des " >
    <br>
    <input type="submit" value="Add">
</form>