<form action="" method="post">
    <h1>Edit </h1>
    <input type="text" name="name" required placeholder="Enter new name" value="{{category.name}}">
    <br>
    <input type="text" name="description" required placeholder=" Enter new des " value="{{category.description}}">
    <br>
    <input type="submit" value="Edit">
</form>